# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/


# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

# AWS-related local files
*.zip
*.pem

# Docker
*.log
